
@{
                /**/

                ViewBag.Title = "Борис Непомнящий";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Биография</h1>
    </div>
</div>
<div class="row">
    <div class="biograf_bn">
        <p class="abz">
            Борис Иосифович Непомнящий родился в г. Клинцы Брянской области. После окончания школы в 1948 г. с блеском поступил на отделение журналистики филфака МГУ. Но по не зависящим от него обстоятельствам не смог там учиться. Окончил сначала Учительский институт в небольшом городке Сураж, а затем Московский пединститут. Отказавшись от неоднократных предложений продолжить образование в аспирантуре, на протяжении почти четырёх десятилетий преподавал русский язык и литературу в одной из средних школ Брянска. Начал писать стихи ещё в юности, но публиковался крайне редко и несистемно. В силу не забытых нами причин его лирика не приветствовалась функционерами от литературы 70­х­80­х годов. Между тем многие мастера давали чрезвычайно высокую оценку его стихам. Среди них – Алекандр Межиров, Лев Озеров, Морис Ваксмахер, Евгений Винокуров, Валентин Берестов. Однако только в 90­е годы некоторые подборки были опубликованы в Москве и в Петербурге. В 1996 году вышла в свет первая и единственная прижизненная книга «При свете Полярной…», которую уже после его ухода, в 2001 году, удалось переиздать в расширенном варианте, включив в неё раздел «Стихи последних лет».
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Ну что же, спасибо тебе и на том...<br> </h1>

    </div>
</div>
<div class="row">

    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <span class="book-date1 align_right" id="span_block"><strong>Дата проведения: 07.05.2008</strong></span>
            <p></p>
            <p class="align_right" id="epigraph">
                Ну что же, спасибо тебе и на том,<br>
                Что зноем не выжгла, не выбила градом,<br>
                Не вышибла на повороте крутом<br>
                И не отравила скептическим ядом.<br>
                Спасибо, что не погасила огня<br>
                И, не дав свободы, судила не строго<br>
                И, если надеждой ссужала меня,<br>
                Взамен не брала никакого залога.<br>
                Спасибо, что не покарала стыдом<br>
                За воду и хлеб, что нещедро дала мне,<br>
                За бледное небо, за скудные камни…<br>
                Ну что же, спасибо тебе и на том…
            </p>
        </div>
        <div class="row book size_16">
            <p class="abz">
                Вечер памяти Бориса Непомнящего, приуроченный к десятилетию со дня его ухода, прошел 7 мая 2008 года в Брянской областной детской библиотеке. Вдохновителем и организатором мемориального вечера стала Людмила Ивановна Рыжикова – глубокий и тонкий ценитель поэтического слова Б.И.Непомнящего.  Небольшой зал библиотеки собрал близких поэта, журналистов , его коллег, его учеников.
                В ходе вечера звучали воспоминания, связанные с историей семьи Непомнящих, личностью Бориса Иосифовича, читались и комментировались его стихи. Звучал также и голос самого поэта – фрагмент из интервью Л.И.Рыжиковой . Это интервью было взято ею для Брянского областного радио в связи с выходом в свет единственной прижизненной книги поэта  "При свете Полярной…"(1996). Впоследствии семье Бориса Непомнящего была передана запись этого вечера. Она велась непрофессионально, что и объясняет некоторые погрешности в ее качестве.
            </p>
        </div>
        <div class="row book">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/w3WMfbISsmo" frameborder="0" allowfullscreen></iframe>
            <!--LR6RFh6PXd0-->
        </div>
        @*<p><a href="https://www.youtube.com/playlist?list=PLLhPKTB5--3bAIsyeT8LtJ5pMJK710BPr" title="Смотреть другие ролики с вечера памяти">Смотреть другие ролики с вечера памяти</a></p>*@

    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Книга</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/СВЕТ_ПОЛЯРНОЙ.PDF" target="_blank"><img src="/img/1-min.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                <h2 class="book-title"><a href="~/pdf/СВЕТ_ПОЛЯРНОЙ.PDF" target="_blank">При свете Полярной</a></h2>
                <span class="book-date">Год издания: 1996</span>
                <p class="book-description">
                    Без видимых проявлений<br>
                    И непостижимый уму,<br>
                    Опять отомщающий гений<br>
                    Грозится тебе одному.<br>
                    Опять в напряженном покое<br>
                    Растет ожиданье беды…<br>
                    Как может случиться такое<br>
                    При свете Полярной звезды?<br>
                    Какое спасение шлет нам<br>
                    Ее изнуряющий свет, <br>
                    Который зовут путеводным,<br>
                    Но коему имени нет?..<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/СВЕТ_ПОЛЯРНОЙ.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/СВЕТ ПОЛЯРНОЙ.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
                <div class="col-xs-12 col-md-9 ">
                    <ul>
                        <a href="~/pdf/Предисловие_Льва_Озерова.PDF" target="_blank">
                            <li class="book-additional-link">
                                Предисловие Льва Озерова
                            </li>
                        </a>
                        <a href="~/pdf/Послесловие Потупова-converted.pdf" target="_blank">
                            <li class="book-additional-link">
                                Послесловие Евгения Потупова
                            </li>
                        </a>
                        <a href="~/pdf/ТАЙНОЙ ДОБРОТЫ СОГЛЯДАТАЙ-converted.pdf" target="_blank">
                            <li class="book-additional-link">
                                Статья В.С. Лысенко о стихах Бориса Непомнящего
                            </li>
                        </a>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Листая журналы</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="col-xs-12 col-md-3" style="padding-top:1%">
                <a href="http://www.plavmost.org/?p=9382" target="_blank"><img src="~/img/PlavMost-min.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                @*<div class="text_width">*@
                <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="http://www.plavmost.org/?p=9382" target="_blank">Плавучий мост</a></h2>
                <p class="book-description-teach abz">
                    Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст. Здесь должен быть новый текст.
                </p>
                <ul class="book-additional">
                    <a href="http://www.plavmost.org/?p=9382" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>

                </ul>
            </div>
        </div>

        <div class="row book bottom">
            <div class="col-xs-12 col-md-3" style="padding-top:1%">
                <a href="http://magazines.russ.ru/bereg/2007/18/ne7.html" target="_blank"><img src="~/img/Novy_Bereg_Magazine-min.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                @*<div class="text_width">*@
                <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="http://magazines.russ.ru/bereg/2007/18/ne7.html" target="_blank">Новый берег</a></h2>
                <p class="book-description-teach abz">
                    Борис Иосифович Непомнящий родился в г. Клинцы Брянской области. После окончания школы в 1948 г. с блеском поступил на отделение журналистики филфака МГУ. Но по не зависящим от него обстоятельствам не смог там учиться. Окончил сначала Учительский институт в небольшом городке Сураж, а затем Московский пединститут. Отказавшись от неоднократных предложений продолжить образование в аспирантуре, на протяжении почти четырёх десятилетий преподавал русский язык и литературу в одной из средних школ Брянска. Начал писать стихи ещё в юности, но публиковался крайне редко и несистемно. В силу не забытых нами причин его лирика не приветствовалась функционерами от литературы 70­х­80­х годов. Между тем многие мастера давали чрезвычайно высокую оценку его стихам. Среди них – Алекандр Межиров, Лев Озеров, Морис Ваксмахер, Евгений Винокуров, Валентин Берестов. Однако только в 90­е годы некоторые подборки были опубликованы в Москве и в Петербурге. В 1996 году вышла в свет первая и единственная прижизненная книга «При свете Полярной…», которую уже после его ухода, в 2001 году, удалось переиздать в расширенном варианте, включив в неё раздел «Стихи последних лет».
                </p>
                <ul class="book-additional">
                    <a href="http://magazines.russ.ru/bereg/2007/18/ne7.html" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>

                </ul>
            </div>
        </div>


    </div>
</div>
