
@{
    ViewBag.Title = "Книги";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Книги</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/Знак_переноса.PDF" target="_blank"><img src="/img/ЗнакПереноса.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Знак_переноса.PDF" target="_blank">Знак переноса</a></h2>
                <span class="book-date">Год издания: 2002</span>
                <p class="book-description">
                    В языческом мире, который<br>
                    Расколот вторженьем вопроса,<br>
                    Останется точкой опоры<br>
                    Не точка, а знак переноса.<br>
                    Осенняя серая роща,<br>
                    Как женщина простоволоса,<br>
                    Не знает, что может быть проще<br>
                    И горше, чем знак переноса.<br>
                    И стаи последней цепочка,<br>
                    Сквозь небо летящая косо,<br>
                    Не чья-то финальная строка,<br>
                    Не слово, а знак переноса.<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Знак_переноса.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            <!-- <a href="book.html?bookname=book1">Читать онлайн</a>*-->
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Знак переноса.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                        <li class="book-additional-link">
                            &nbsp;Предисловие Светланы Гехтляр
                        </li>
</ul>
            </div>
        </div>

        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/Ночной_перрон_(избранное).PDF" target="_blank"><img src="/img/НочнойПеррон.jpeg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                <a name="НочнойПеррон"></a><h2 class="book-title"><a href="~/pdf/Ночной_перрон_(избранное).PDF" target="_blank">Ночной перрон (избранное)</a></h2>
                <span class="book-date">Год издания: 2004</span>
                <p class="description-1 book-description ">
                    Ночной перрон... нет ничего грустней<br>
                    Во всей Вселенной, чем его деревья.<br>
                    И молчаливый свет его огней<br>
                    Все тянет нас то в небо, то в кочевье...<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Ночной_перрон_(избранное).PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Ночной перрон (избранное).doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>

        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/Восковое_крыло_(избранное).PDF" target="_blank"><img src="/img/ВосковоеКрыло.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                <a name="ВосковоеКрыло"></a><h2 class="book-title"><a href="~/pdf/Восковое_крыло_(избранное).PDF" target="_blank">Восковое крыло (избранное)</a></h2>
                <span class="book-date">Год издания: 2009</span>
                <p class="book-description description-1">
                    ...а в памяти – в несколько соток участок садовый:<br>
                    Дощатый домишко и ржавая бочка со ржавой водой,<br>
                    Прогревшейся за день... И облака парус багровый,<br>
                    Пожалуй, почти неподвижен над вскопанной черной грядой.<br>
                    Должно быть, не так мимолетны подробности эти,<br>
                    Когда через годы все так же мерцают в протяжной строке,<br>
                    И мальчик воздушного змея при гаснущем свете<br>
                    Ведет в облаках – и суровая нитка трепещет в руке.<br>
                    И кажется, точно из памяти позавчерашней,<br>
                    Вечернее, алое небо приняв как нечаянный дар,<br>
                    Над лугом, над лесом, над водонапорною башней – <br>
                    Все выше и выше – взмывает на казнь осужденный Икар.<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Восковое_крыло_(избранное).PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                    
                        <a href="~/Lirika/Восковое крыло (избранное).doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>

        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/Час_снегопада_(избранное).PDF" target="_blank"><img src="/img/ЧасСнегопада.jpg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9">
                <a name="ЧасСнегопада"></a><h2 class="book-title"><a href="~/pdf/Час_снегопада_(избранное).PDF" target="_blank">Час снегопада (избранное)</a></h2>
                <span class="book-date">Год издания: 2013</span>
                <div class="description-2">Музыка</div>
                <p class="description-1 book-description ">

                    В то время как скрипач прильнет щекою к деке,<br>
                    В тот самый миг, когда еще и звука нет,<br>
                    Бледнеют облака, охладевают реки<br>
                    И в сумерках зимы дрожит холодный свет.<br>
                    И дни мои, один другого безымянней,<br>
                    Безмолвием тесня, толпятся за спиной…<br>
                    Лишь музыка одна – сестра воспоминаний<br>
                    О жизни, не случившейся со мной.<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Час_снегопада_(избранное).PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Час снегопада (избранное).doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>

        <div class="row book">
            <div class="col-xs-12 col-md-3">
                <a href="~/pdf/Смотровая_площадка.PDF" target="_blank"><img src="/img/СмотроваяПлощадка.jpeg" class="img-responsive" /></a>
            </div>
            <div class="col-xs-12 col-md-9 bottom">
                <a name="СмотроваяПлощадка"></a><h2 class="book-title"><a href="~/pdf/Смотровая_площадка.PDF" target="_blank">Смотровая площадка</a></h2>
                <span class="book-date">Год издания: 2017</span>
                <p align="left" class="book-description description-1">
                    Нет, не широким шагом, скорей шажком,<br>
                    Не отводя от изломов скалистых взгляда,<br>
                    Отодвигаясь от края (бочком, бочком, <br>
                    Делая вид, что это кому-то надо), -<br>
                    <br>
                    Отодвигаясь от края (в который раз<br>
                    Произнести, наблюдая за тем, как море<br>
                    Дыбится под тобою, насколько глаз<br>
                    Может его охватить, находясь в дозоре), -<br>
                    <br>
                    Отодвигаясь от края (вопрос куда <br>
                    Если и не фальшив, то, увы, просрочен), -<br>
                    Чувствуешь темным сердцем укол стыда,<br>
                    Будто бы надавали тебе пощечин -<br>
                    <br>
                    Ты же не принял вызова: не посмел<br>
                    Или же оказался принять не в силах...<br>
                    Мог бы, прижавшись к небу, постичь предел,<br>
                    А коротаешь век свой среди бескрылых.<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Смотровая_площадка.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Lirika/Смотровая площадка.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                        </a>
</ul>
            </div>
        </div>



</div>
    </div>

