
@{
    ViewBag.Title = "Материалы о Тютчеве";
}


<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Монография</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Проблемы интертекстуальности(Брянск).pdf" target="_blank">Лирика Ф.И.Тютчева  и вопросы интертекста</a></h2>
                <p class="book-description-1 abz">
                    Категория реминисценции (от латинского reminiscentia - воспоминание, припоминание) - одна из наиболее важных и актуальных в современном литературоведении. Реализуя одну из возможностей межтекстового диалога, реминисценция оказывается органически связана со многими ключевыми для истории и теории литературы понятиями: традицией и новаторством, литературной преемственностью и полемикой, особенностями жанра и внутренней организацией произведения.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Проблемы интертекстуальности(Брянск).pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Проблемы интертекстуальности(Брянск).pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Кандидатская диссертация</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/автореферат.PDF" target="_blank">Автореферат диссертации</a></h2>
                <p class="book-description-1 abz">
                    Проблема поэтической циклизации в последние десятилетия
                    привлекает все большее внимание литературоведов. Среди мно-
                    гочисленных работ, посвященных этой проблеме, можно назвать монографии И.Фоменко и М.Дарвина, исследования В.Сапогова, Л.Ляпиной, статьи и сообщения К.Исупова, В.Грехнева,
                    С.Фомичева, Г.Комарова,Ю.Руденко,Ю.Орлицкого и др.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/автореферат.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/автореферат.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/Диссертация_из_12пт.PDF" target="_blank">Текст диссертации</a></h2>
                <p class="book-description-1 abz">
                    Еще в XIX веке наиболее проницательные толкователи
                    творчества Тютчева отмечали удивительную сомкнутость,
                    “спаянность”его стихотворений. Так, в кратком, но весьма
                    содержательном отклике И. С. Тургенева на выход в свет
                    первого тютчевского сборника (1854) сказано: “Круг г.
                    Тютчева не обширен — это правда, но в нем он дома. Талант
                    его не состоит из бессвязно разбросанных частей: он замкнут
                    и владеет собой...”
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Диссертация_из_12пт.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/Диссертация_из_12пт.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Циклы Тютчева</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/1_О_тютчевской_циклизации.PDF" target="_blank">О тютчевской циклизации</a></h2>
                <p class="book-description-1 abz">
                    Еще в XIX веке наиболее проницательные толкователи
                    творчества Тютчева отмечали удивительную сомкнутость,
                    “спаянность”его стихотворений. Так, в кратком, но весьма
                    содержательном отклике И. С. Тургенева на выход в свет первого
                    тютчевского сборника (1854) сказано: “Круг г. Тютчева не
                    обширен — это правда, но в нем он дома. Талант его не состоит из
                    бессвязно разбросанных частей: он замкнут и владеет собой...”
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/1_О_тютчевской_циклизации.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Tutchev/1 О тютчевской циклизации.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/2_СВЯТАЯ_НОЧЬ_НА_НЕБОСКЛОН_ВЗОШЛА.PDF" target="_blank">Святая ночь на небосклон взошла...</a></h2>
                <p class="book-description-1 abz">
                    Размышляя о новизне тютчевской поэзии, Ю. Н. Тынянов
                    писал: “Тютчев создает новый жанр — жанр почти внелитературного
                    отрывка, фрагмента, стихотворения по поводу. Это поэт нарочито
                    малой формы. Он сам сознает себя дилетантом”.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/2_СВЯТАЯ_НОЧЬ_НА_НЕБОСКЛОН_ВЗОШЛА.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Tutchev/2 СВЯТАЯ НОЧЬ НА НЕБОСКЛОН ВЗОШЛА.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/3_ЗДЕСЬ_ЧЕЛОВЕК_ЛИШЬ_СНИТСЯ_САМ_СЕБЕ.PDF" target="_blank">Здесь человек лишь снится сам себе...</a></h2>
                <p class="book-description-1 abz">
                    Цикл о “русском космосе”
                    Есть давнишняя традиционнорусская мечта о
                    прекращении истории в западном значении,
                    как ее понимал Чаадаев. Этомечта о
                    всеобщем духовном разоружении, после
                    которого наступит некоторое состояние,
                    именуемое “миром”.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/3_ЗДЕСЬ_ЧЕЛОВЕК_ЛИШЬ_СНИТСЯ_САМ_СЕБЕ.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Tutchev/3 ЗДЕСЬ ЧЕЛОВЕК ЛИШЬ СНИТСЯ САМ СЕБЕ.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/4_ВСЯ_В_НАСТОЯЩЕМ_РАЗЛИТА.PDF" target="_blank">Все в настоящем разлита...</a></h2>
                <p class="book-description-1 abz">
                    “...Я не воображал, какие разрушения может произвести в
                    бедном человеческом механизме двадцатилетний срок! Какое
                    отвратительное колдовство! Люди, воспоминания о которых здешние
                    места оживили во мне до такой остроты, что мне стало казаться,
                    будто я только накануне расстался с ними, предстали предо мною
                    почти неузнаваемыми от разрушений времени...” — так писал поэт
                    Эрнестине Федоровне Тютчевой в середине 1840х годов.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/4_ВСЯ_В_НАСТОЯЩЕМ_РАЗЛИТА.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Tutchev/4 ВСЯ В НАСТОЯЩЕМ РАЗЛИТА.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Другие статьи</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/Ася.PDF" target="_blank">Ася</a></h2>
                <p class="book-description-1 abz">
                    “В даровании г.Тютчева нет никаких драматических или
                    эпических начал, хотя ум его, бесспорно, проник во все глубины
                    современных вопросов истории” 1 , - писал И.С.Тургенев в статье
                    «Несколько слов о стихотворениях Ф.И.Тютчева»(1854). В ее рамках
                    по меньшей мере трижды проведена мысль о тютчевском лиризме, и
                    процитированные строки лишь доводят до уровня максимально
                    сжатой формулы уже сказанное ранее о тютчевском таланте: “…в нем
                    нет других элементов, кроме элементов чисто лирических…”
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Ася.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/Ася.doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/Безумие.PDF" target="_blank">Безумие</a></h2>
                <p class="book-description-1 abz">
                    Стихотворение “Безумие”, созданное в начале 30-х годов, - одно из
                    наиболее “таинственных” произведений не только в лирике Ф.И.Тютчева, но
                    и во всей русской поэзии первой половины XIX века. Пожалуй, только
                    “Недоносок” Е.А. Боратынского может быть поставлен в один ряд с этим
                    тютчевским текстом. В обоих случаях перед нами весьма редкий синтез
                    напряженной философичности с едва ли не гротескными средствами подачи
                    ключевого образа.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Безумие.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/Безумие.DOC" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/Введение__монограию_(без_литературы).PDF" target="_blank">Введение в монографию</a></h2>
                <p class="book-description-1 abz">
                    Категория реминисценции (от латинского reminiscentia –
                    воспоминание, припоминание) – одна из наиболее важных и
                    актуальных в современном литературоведении. Реализуя одну из
                    возможностей межтекстового диалога, она оказывается органически
                    связана со многими ключевыми для истории и теории литературы
                    понятиями, такими как традиция и новаторство, преемственность и
                    полемика, особенности жанра и внутренняя организация
                    произведения.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Введение__монограию_(без_литературы).PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/Texts/Введение__монограию (без литературы).doc" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/О некоторых неучтённых.pdf" target="_blank">О некоторых неучтённых «проекциях» образа Евгения Базарова. </a></h2>
                <p class="book-description-1 abz">
                    Постоянная опора на опыт предшественников и современников – одна из характернейших особенностей творчества И. С. Тургенева. «Тургенев, по своему художническому мышлению, принадлежит к тому типу писателей, которые рассматривают искусство, культуру как важные составные человеческой жизни и в сознании которых <…> все время присутствуют, а в процессе творчества активизируются впечатления искусства», - отмечает Ж. Зельдхейи-Деак в работе «К проблеме реминисценций в «малой» прозе И. С. Тургенева.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/О некоторых неучтённых.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/О некоторых неучтённых.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/ОБ ОДНОМ ИЗ ВОЗМОЖНЫХ ИСТОЧНИКОВ.pdf" target="_blank">Об одном из возможных источников статьи Соловьёва о Тютчеве</a></h2>
                <p class="book-description-1 abz">
                    Поднимается вопрос об источниках работы Вл.Соловьева о Тютчеве, которая в тютчеведении XX века оценивается как первая серьезная попытка систематически изложить философское миросозерцание поэта. Выдвигается гипотеза, что некоторые тезисы Соловьева  опираются на суждения о Тютчеве, высказанные в XIX столетии. В частности, параллель между Тютчевым и Гетте, последовательно проводимая Соловьевым, уже была намечена в заметке Тургенева о поэте, а в дальнейшем развита в тургеневских письмах и художественной прозе. Делается вывод о весьма вероятном влиянии тургеневского восприятия тютчевской поэзии на концепцию Соловьева.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/ОБ ОДНОМ ИЗ ВОЗМОЖНЫХ ИСТОЧНИКОВ.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/ОБ ОДНОМ ИЗ ВОЗМОЖНЫХ ИСТОЧНИКОВ.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/О ЛИТЕРАТУРНЫХ ИСТОЧНИКАХ декабр.pdf" target="_blank">О литературных источниках стихотворения Ф. И. Тютчева “14-ое декабря 1825”</a></h2>
                <p class="book-description-1 abz">
                    Являясь едва ли не единственным бесспорным собственно поэтическим свидетельством отношения Тютчева и к самому факту восстания на Сенатской площади, и к идеологии декабризма в целом, стихотворение “14-ое декабря 1825” неоднократно вызывало специальный интерес.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/О ЛИТЕРАТУРНЫХ ИСТОЧНИКАХ декабр.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/О ЛИТЕРАТУРНЫХ ИСТОЧНИКАХ декабр.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/тютчев и козлов.pdf" target="_blank">Тютчев и Козлов (к постановке проблемы)</a></h2>
                <p class="book-description-1 abz">
                    Вопрос о связях творчества Тютчева с поэзией  Ивана Козлова практически не ставился в специальной литературе. Замечания об этих связях немногочисленны и несистемны. Конечно же, соотнесенность лирики Тютчева с творчеством Пушкина и Жуковского, Вяземского и Фета куда более очевидна и значима.Между тем есть  реальные  основания и для постановки самостоятельной проблемы Тютчев и Козлов.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/тютчев и козлов.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/тютчев и козлов.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/BESEDA.pdf" target="_blank">Собеседник стихий </a></h2>
                <p class="book-description-1 abz">
                    Марина Цветаева написала: “Мой Пушкин”. Это звучало почти как вызов: Пушкин - для всех, Пушкин - для каждого, Пушкин - на все времена, “доколь в подлунном мире Жив будет хоть один пиит”, и вдруг - мой? Потребовалось время, чтобы понять: за цветаевским названием не жест присвоения, а жест дарения... Почти век миновал с тех пор, и сегодня мы говорим: “Мой Тютчев”.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/BESEDA.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/BESEDA.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/НадЭтойТёмноюТолпой.pdf" target="_blank">Стихотворение Ф.И. Тютчева «Над этой тёмною толпой…» и вопрос о его литературных связях</a></h2>
                <p class="book-description-1 abz">
                    «Всем главным преобразованиям нынешнего царствования он сочувствовал от души и радовался всякому твердому шагу вперед, подавая свой пиитический голос», - писал о Тютчеве его многолетний, еще с университетской поры, приятель М.П. Погодин в некрологе 1873 года.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/НадЭтойТёмноюТолпой.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/НадЭтойТёмноюТолпой.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Безумие.pdf" target="_blank">О  возможном источнике стихотворения Ф.И.Тютчева  “Безумие” </a></h2>
                <p class="book-description-1 abz">
                    Стихотворение “Безумие”, созданное в начале 30-х годов, - одно из наиболее “таинственных” произведений не только в лирике Ф.И.Тютчева, но и во всей русской поэзии первой половины XIX века. Пожалуй, только “Недоносок” Е.А. Боратынского может быть поставлен в один ряд с этим тютчевским текстом.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Безумие.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Безумие.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/FAUST.pdf" target="_blank">О реминисцентной структуре повести И. С. Тургенева “Фауст” </a></h2>
                <p class="book-description-1 abz">
                    “Замечательно, что “Фауст” разделил твоих читателей: люди с внутренним содержанием – в восхищении от него; другие – натуры грубоватые и прозаические – ничего не видят в нём“1 – так писал В. П. Боткин Тургеневу в ноябре 1856 года. Действительно, повесть “Фауст”, появившаяся в 10-ом номере журнала “Современник” за 1856 год и самим автором определённая как “рассказ в девяти письмах”, немедленно привлекла внимание русских читателей и вызвала самые разноречивые отклики в литературной среде.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/FAUST.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/FAUST.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Лебедь.pdf" target="_blank">Стихотворение Ф.И. Тютчева «Лебедь» и традиции русской оды XVIII века.К проблеме: Тютчев и Ломоносов</a></h2>
                <p class="book-description-1 abz">
                    Многообразные творческие связи Тютчева с предшественниками и современниками – проблема, продолжающая оставаться в центре внимания исследователей. Она, однако, имеет ряд специфических особенностей.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Лебедь.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Лебедь.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/PIGM.pdf" target="_blank">Стихотворение Ф.И. Тютчева “Не раз ты слышала признанье...”  в свете реминисцентной поэтики </a></h2>
                <p class="book-description-1 abz">
                    Это стихотворение обычно не привлекает специального исследовательского внимания. Написанное в 1851 году, в самом начале “любви последней, зари вечерней”, оно находится на периферии “денисьевского” цикла и кажется начисто лишенным того драматического потенциала, который характеризует этот цикл в целом как феномен русской любовной лирики Х1Х века.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/PIGM.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/PIGM.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/POLESYE.pdf" target="_blank">Повесть И.С.Тургенева “Поездка в Полесье” и контекст тютчевской лирики </a></h2>
                <p class="book-description-1 abz">
                    Тургенев и Тютчев - одна из заметных проблем в исследованиях, посвященных русской литературе середины  XIX века. В подходе к ней можно выделить три ключевых момента. Первый касается роли Тургеневаредактора при подготовке тютчевского издания 1854 года. Второй - степени влияния тютчевской поэзии на тургеневское творчество 50-х годов и позднейший цикл “Стихотворения в прозе”.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/POLESYE.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/POLESYE.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Хоть я и свил гнездо в долине.pdf" target="_blank">Реминисцентная структура стихотворения «Хоть я и свил гнездо в долине…» в системе «горного» цикла Ф.И.Тютчева </a></h2>
                <p class="book-description-1 abz">
                    Документальных подтверждений знакомства Тютчева с первой южной поэмой Пушкина, насколько известно, нет. «Кавказский пленник»                                                                                                                                           вышел в свет на рубеже августа и сентября 1822 года; следовательно, Тютчев, выехавший в Германию двумя месяцами ранее, уже не застал острых споров, развернувшихся в связи с новым пушкинским произведением.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Хоть я и свил гнездо в долине.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Хоть я и свил гнездо в долине.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Слово РиЛ в лирике Тютчева.pdf" target="_blank">Слово РиЛ в лирике Тютчева</a></h2>
                <p class="book-description-1 abz">
                    Вопрос о степени и формах влияния пушкинских поэм на становление тютчевской лирики практически не освещен в современном тютчеведенье. Тому есть несколько объяснений. И первое из них - весьма скудные данные об отношении Тютчева именно к стихотворному эпосу Пушкина: за исключением нескольких беглых дневниковых записей М.П.Погодина, относящихся к началу 1820-х годов, и позднейшего свидетельства Жандра о тютчевском восприятии “Евгения Онегина”, насколько известно, такой информации нет.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Слово РиЛ в лирике Тютчева.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Слово РиЛ в лирике Тютчева.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Не Тютчев</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/Оглянувшийся Орфей.pdf" target="_blank">Оглянувшийся Орфей</a></h2>
                <p class="book-description-1 abz">
                    Два года назад ушёл из жизни
                    поэт и литературовед Лев Озеров. Он
                    был другом и автором нашей газеты. За
                    три месяца до его смерти мы напечатали
                    цикл стихотворений «Поздний час»,
                    который Лев Адольфович прислал в
                    редакцию вместе с автошаржем. А
                    мемуарный очерк Л. Озерова
                    «Безмерность мира (Даниил Андреев)»,
                    появившийся на страницах «БИ» 15
                    марта 1996 года, стал последней
                    прижизненной публикацией поэта.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/Оглянувшийся Орфей.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/Оглянувшийся Орфей.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/О стихотворении Пушкина Анчар.pdf" target="_blank">«В пустыне чахлой и скупой…» (О стихотворении А.С.Пушкина «Анчар») </a></h2>
                <p class="book-description-1 abz">
                    В 1786 г. в журнале «Детское чтение для сердца и разума», который издавал выдающийся русский просветитель  Н. И. Новиков, появился перевод статьи голландского врача Фурша (или Форша). В ней шла речь о таинственном дереве, произрастающем на острове Ява. По словам автора, это дерево источало настолько ядовитую смолу, что даже приближаться к нему было смертельно опасно.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/О стихотворении Пушкина Анчар.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/О стихотворении Пушкина Анчар.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/К вопросу о классификации реминисD.pdf" target="_blank">К вопросу о классификации реминисцентных структур в литературе «золотого» века </a></h2>
                <p class="book-description-1 abz">
                    Вопрос об экспансии текста-донора на территорию текста-реципиента, о соотношении предусмотренных и не предумышленных автором межтекстовых ассоциаций, при этом возникающих, в каждом конкретном случае решается применительно к конкретным обстоятельствам, с учетом форм и приемов введения реминисценции, степени ее легализации и т.д. Тем не менее, как нам представляется, некоторые общие закономерности в решении данной проблемы все-таки существуют.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/К вопросу о классификации реминисD.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/К вопросу о классификации реминисD.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/К вопросу  о метонимической природ.pdf" target="_blank">К вопросу  о метонимической природе реминисценции в литературе «золотого» века </a></h2>
                <p class="book-description-1 abz">
                    В статье рассматривается вопрос о тропеической, метонимической, природе и функции «чужого» слова в русской литературе ХIХ века, анализируются различные варианты взаимодействия между текстомдонором и текстом-реципиентом  на примере произведений Чехова, Тургенева, Достоевского.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/К вопросу  о метонимической природ.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/К вопросу  о метонимической природ.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/центонные ряды.pdf" target="_blank">Об архитектонической роли центонных структур в поэзии постмодернизма ( на примере стихотворения Т. Кибирова «Послание  Ленке») </a></h2>
                <p class="book-description-1 abz">
                    В статье рассматривается вопрос о специфике функционирования «чужого» слова в поэзии постмодернизма и – на примере текста Т. Кибирова  - аргументируется мысль об архитектонической роли центонных структур в постмодернистской практике на рубеже ХХ- ХХI веков.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/центонные ряды.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/центонные ряды.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Ахматова.pdf" target="_blank">Об одном тютчевском мотиве в лирике Ахматовой</a></h2>
                <p class="book-description-1 abz">
                    Лев Озеров, размышляя о творческом пути Ахматовой, писал: "У ранней Ахматовой мы почти не встречаем произведений, в которых было бы описано и обобщено время... В позднейших же циклах историзм определяется как способ познания мира и бытия человека".
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Ахматова.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Ахматова.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-offset-3 col-md-6">

        <div class="row book bottom">
            <div class="text_width">
                <h2 class="book-title"><a href="~/pdf/new/Возрожденец.pdf" target="_blank">Возрожденец. О поздней лирике Льва Озерова </a></h2>
                <p class="book-description-1 abz">
                    В стихах, посвященных поэту и переводчику Якову Хелемскому, Лев Озеров написал, оценивая пройденный в литературе путь:  Мы уходим. Вы нас прозевали. Нас прошляпили в недобрый час. Оправдаться сможете? Едва ли. Как всегда, вам будет не до нас. Нет прощенья. Не найти названья Вашему бездушью. День суров. Мы уходим. Тихо. Без прощанья. Мастера словесности – без слов.
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/new/Возрожденец.pdf" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                    </a>
                    <a href="~/pdf/new/Возрожденец.pdf" download>
                        <li class="book-additional-btn book-additional-btn--with-icon">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </a>
                </ul>
            </div>

        </div>


    </div>
</div>


