
@{
    ViewBag.Title = "Поэмы";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="books-page-title">Маленькие поэмы</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="row book">
            <div class="col-xs-12 col-md-12">
                <h2 class="book-title"><a href="~/pdf/В_плюсквамперфекте.PDF" target="_blank">В плюсквамперфекте</a></h2>
                <span class="book-date">Из книги: <a href="~/pdf/Смотровая_площадка.PDF" target="_blank">Смотровая площадка</a></span>
                <p class="book-description description-1">
                    Тянулся август. Жёлтая луна<br>
                    Светила вполнакала, окликая<br>
                    Электролампы в окнах трёхэтажки -<br>
                    Одни под абажурами, другие -<br>
                    Без.<br>
                    Право, не без чувства ностальгии<br>
                    Припоминаю эти времена...<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/В_плюсквамперфекте.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Поэмы/В плюсквамперфекте.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon1">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>

        <div class="row book">
            <div class="col-xs-12 col-md-9">
                <h2 class="book-title"><a href="~/pdf/КОМАНДИРОВКА.PDF" target="_blank">Командировка</a></h2>
                <span class="book-date">Из книги: <a href="~/pdf/Восковое_крыло_(избранное).PDF" target="_blank">Восковое крыло</a></span>
                <p class="book-description description-1">
                    Однажды я увидел: налегке<br>

                    В густой тени двенадцатиэтажки<br>

                    Стоял прохожий в клетчатой рубашке,<br>

                    С карманным круглым зеркальцем в руке.<br>
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/КОМАНДИРОВКА.PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Поэмы/КОМАНДИРОВКА.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>

        <div class="row book bottom">
            <div class="col-xs-12 col-md-9">
                <h2 class="book-title"><a href="~/pdf/На_родине_отца....PDF" target="_blank">На родине отца</a></h2>
                <span class="book-date">Из книги:<a href="~/pdf/Восковое_крыло_(избранное).PDF" target="_blank">Восковое крыло</a></span>
                <p class="book-description description-1">
                    В провинции, где тысячи тропинок<br>
                    Еще хранят следы босых ступней,<br>
                    Впечатавшиеся в сырой суглинок,<br>
                    Как говорится, от начала дней...
                </p>
                <ul class="book-additional">
                    <a href="~/pdf/На_родине_отца....PDF" target="_blank">
                        <li class="book-additional-btn book-additional-btn--read">
                            Читать онлайн
                        </li>
                        </a>
                        <a href="~/Lirika/Поэмы/На родине отца....doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
</ul>
            </div>
        </div>
    </div>
</div>

