
@{
    ViewBag.Title = "Учителю";
}

<div class="row" style="margin-top:3%">
    <div class="col-xs-12">
    <div style="text-align:center; color: #638289;"><h1>Раздел находится в разработке.</h1></div>
    </div>
</div>

    <div class="row">
        <div class="col-xs-12">
            <h1 class="books-page-title">Программы и материалы для спецкурсов и спецсеминаров</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <div class="row book">

                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Материалы_Говорящие_знаки.PDF">Материалы к спецсеминару по русскому языку «Говорящие знаки»</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Материалы_Говорящие_знаки.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="/teacher_texts/courses/Материалы Говорящие знаки.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="row book">

                <!--<div class="col-xs-12 col-md-9">-->
                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Материалы_Стань_соавтором.PDF" target="_blank">Материалы к спецкурсу по русскому языку «Стань соавтором»</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Материалы_Стань_соавтором.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/courses/Материалы Стань соавтором.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="row book">

                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Программа__Искусство_слова.PDF" target="_blank">Программа спецкурса «Искусство слова»</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Программа__Искусство_слова.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/courses/Программа  Искусство слова.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>



            <div class="row book">

                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Программа_занятий_с_олимпиадниками.PDF" target="_blank">Перечень материалов для занятий с олимпиадниками (проза)</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Программа_занятий_с_олимпиадниками.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/courses/Программа занятий с олимпиадниками.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>


            <div class="row book">
                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Программа_спецкурса_по_Тютчеву.PDF" target="_blank">Программа спецкурса по Тютчеву</a></h2>
                    <p class="book-description-teach abz">
                        Спецкурс по литературе "Циклы Тютчева" предназначен для учащихся 10-11 класса, которые хотели бы более глубоко и полно познакомиться с творчеством одного из лучших русских поэтов 19 века.
                        Этот спецкурс рассчитан на 30 часов, каждое занятие длится два академических часа. В ходе спецкурса слушатели знакомятся с такими важными литературоведческими категориями, как цикл ( авторский и так называемый "несобранный"), тематический ряд, средства и пути формирования циклического единства. В рамках спецкурса рассматриваются также связи тютчевской лирики с поэзией и прозой предшественников и современников: Державина, Пушкина, Лермонтова, Фета, Тургенева, Л.Н Толстого. Круг источников, на которые опирается автор спецкурса, включает в себя работы о Тютчеве классиков отечественного литературоведения: Ю.Н. Тынянова, Л.В.Пумпянского, Н.Я. Берковского, Б.Я.Бухштаба, Ю.М . Лотмана и других. Использованы также и статьи самого автора, собранные в двух его книгах о поэте: "О, нашей мысли обольщенье…" (Брянск, 2002) и "Лирика Тютчева и вопросы интертекста" (М., 2011).
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Программа_спецкурса_по_Тютчеву.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/courses/Программа спецкурса по Тютчеву.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>


            <div class="row book">

                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/ЛирикаТютчева_и_вопросы_интертекста.PDF" target="_blank">Рабочая программа факультатива "Лирики Ф.И.Тютчева и вопросы интертекста"</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/ЛирикаТютчева_и_вопросы_интертекста.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/Texts/ЛирикаТютчева_и_вопросы_интертекста.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>

                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h1 class="books-page-title">Другие материалы</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6">

            <div class="row book">

                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/Методика_русский.PDF" target="_blank">Некоторые методические приёмы работы по русскому языку в среднем звене</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/Методика_русский.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/Методика русский.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>




            <div class="row book">
                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="">Аннотации видеоуроков по русской литературе (в среднем и старшем звене)</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <li class="book-additional-btn">
                            Читать онлайн
                        </li>
                        <li class="book-additional-btn book-additional-btn--with-icon1">
                            <i class="glyphicon glyphicon-download-alt"></i> Скачать
                        </li>
                    </ul>
                </div>
            </div>




            <div class="row book">
                <div class="text_width">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href="~/pdf/олимп10-11.PDF" target="_blank">Олимпиады 10-11 класс</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <ul class="book-additional">
                        <a href="~/pdf/олимп10-11.PDF" target="_blank">
                            <li class="book-additional-btn book-additional-btn--read">
                                Читать онлайн
                            </li>
                        </a>
                        <a href="~/teacher_texts/олимп10-11.doc" download>
                            <li class="book-additional-btn book-additional-btn--with-icon">
                                <i class="glyphicon glyphicon-download-alt"></i> Скачать
                            </li>
                        </a>
                    </ul>
                </div>
            </div>


            <div class="row book">
                <div class="text_width bottom">
                    <a name="ЗнакПереноса"></a><h2 class="book-title"><a href=@Url.Action("Index", "Training")>Тренажеры</a></h2>
                    <p class="book-description-teach abz">
                        Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...Здесь будет интересный и познавательный текст...
                    </p>
                    <div>

                    </div>
                </div>
            </div>

        </div>
    </div>


